# College Trends

The American Community Survey is a survey run by the US Census Bureau that collects data on everything from the affordability of housing to employment rates for different industries. For this challenge, you'll be using the data derived from the American Community Survey for years 2010-2012. The team at FiveThirtyEight has cleaned the dataset and made it available on their Github repo.

Here's a quick overview of the files we'll be working with:

* all-ages.csv - employment data by major for all ages
* recent-grads.csv - employment data by major for just recent college graduates

By completing this challenge, you will test your comfort with Pandas for manipulating DataFrames and calculating summary statistics.

In [1]:
import pandas as pd

all_ages = pd.read_csv("all-ages.csv")
all_ages.head(5)

,Major_code,Major,Major_category,Total,Employed,Employed_full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th
0,1100,GENERAL AGRICULTURE,Agriculture & Natural Resources,128148,90245,74078,2423,0.026147,50000,34000,80000
1,1101,AGRICULTURE PRODUCTION AND MANAGEMENT,Agriculture & Natural Resources,95326,76865,64240,2266,0.028636,54000,36000,80000
2,1102,AGRICULTURAL ECONOMICS,Agriculture & Natural Resources,33955,26321,22810,821,0.030248,63000,40000,98000
3,1103,ANIMAL SCIENCES,Agriculture & Natural Resources,103549,81177,64937,3619,0.042679,46000,30000,72000
4,1104,FOOD SCIENCE,Agriculture & Natural Resources,24280,17281,12722,894,0.049188,62000,38500,90000

In both of these datasets, majors are grouped into categories. As you may have noticed, there are multiple rows with a common value for Major_category but different values for Major. We would like to know the total number of people in each Major_category for both datasets.

Instructions

Use the Total column to calculate the number of people who fall under each Major_category and store the result as a separate dictionary for each dataset. The key for the dictionary should be the Major_category and the value should be the total count. For the counts fromall_ages, store the results as a dictionary named all_ages_major_categories and for the counts from recent-grads, store the results as a dictionary named `recent_grads_major_categories`.

In [23]:
all_ages = pd.read_csv("all-ages.csv")
all_ages_totals  = all_ages.pivot_table(index="Major_category", aggfunc="sum")["Total"]
all_ages_totals

Major_category
Agriculture & Natural Resources         632437
Arts                                   1805865
Biology & Life Science                 1338186
Business                               9858741
Communications & Journalism            1803822
Computers & Mathematics                1781378
Education                              4700118
Engineering                            3576013
Health                                 2950859
Humanities & Liberal Arts              3738335
Industrial Arts & Consumer Services    1033798
Interdisciplinary                        45199
Law & Public Policy                     902926
Physical Sciences                      1025318
Psychology & Social Work               1987278
Social Science                         2654125
Name: Total, dtype: int64

In [22]:
recent_grads = pd.read_csv("recent-grads.csv")
recent_totals = recent_grads.pivot_table(index="Major_category", aggfunc="sum")["Total"]
recent_totals

Major_category
Agriculture & Natural Resources          79981
Arts                                    357130
Biology & Life Science                  453862
Business                               1302376
Communications & Journalism             392601
Computers & Mathematics                 299008
Education                               559129
Engineering                             537583
Health                                  463230
Humanities & Liberal Arts               713468
Industrial Arts & Consumer Services     229792
Interdisciplinary                        12296
Law & Public Policy                     179107
Physical Sciences                       185479
Psychology & Social Work                481007
Social Science                          529966
Name: Total, dtype: int64

## Low wage jobs rates

The press likes to talk a lot about how many college grads are unable to get higher wage, skilled jobs and end up working lower wage, unskilled jobs instead. As a data person, it is your job to be skeptical of any broad claims and explore if you can acquire and analyze relevant data to obtain a more nuanced view. Let's run some basic calculations to explore that idea further.

Instructions

Use the Low_wage_jobs and Total columns to calculate the proportion of recent college graduates that worked low wage jobs. Store the resulting Float object of the calculation as low_wage_percent.

In [19]:
recent_grads = pd.read_csv("recent-grads.csv")
low_wage_percent = 0.0

low_wage_sum = float(recent_grads["Low_wage_jobs"].sum())
recent_sum = float(recent_grads["Employed"].sum())

low_wage_percent = low_wage_sum / recent_sum
low_wage_percent

0.12371514957893746

## Comparing datasets

Both all_ages and recent_grads datasets have 173 rows, corresponding to the 173 college major codes. This enables us to do some comparisons between the two datasets and perform some initial calculations to see how similar or different the statistics of recent college graduates are from those of the entire population.

Instructions

We want to know the number of majors where recent grads fare better than the overall population. For each major, determine if the Unemployment_rate is lower for recent_grads or for all_ages and increment either recent_grads_lower_emp_count or all_ages_lower_emp_count respectively.

In [24]:
# All majors, common to both DataFrames
majors = recent_grads['Major'].value_counts().index

recent_grads_lower_emp_count = 0
all_ages_lower_emp_count = 0

for major in majors:
    recent_rate = recent_grads[recent_grads["Major"]==major]["Unemployment_rate"].values[0]
    all_time_rate = all_ages[all_ages["Major"]==major]["Unemployment_rate"].values[0]
    diff = recent_rate - all_time_rate #comparator
    
    if diff < 0:
        recent_grads_lower_emp_count +=  1
    elif diff >0:
        all_ages_lower_emp_count += 1
    else:
        pass #equal
        
print recent_grads_lower_emp_count
print all_ages_lower_emp_count

43
128